body {
    margin: 0;
}

.services {
    text-align: center;
    margin-top: 10vh;
}

.services__h1 {
    font-weight: 600;
    margin: 25px;
}

.services__h5, .services__h6 {
    color: black;
    font-weight: 500;
}